@{
    Layout = "AkademisyenLayout";
    model DersYonetimSistemi.Models.Entity.Akademisyen
}

<h2>Ders İşlemleri</h2>

<table class="table">
    <thead>
        <tr>
            <th>Ders Adı</th>
            <th>Ders Kodu</th>
        </tr>
    </thead>
</table>
